// Colors
$color-secondary: #0d69cc;
$color-primary: #3176df;
$color-tertiary:  #089bfd;
$color-quaternary: #1118e29c;

$color-grey-light: #ccd6d8;
$color-grey-dark: #333;

$color-hover: #edf5f8;
$color-link-hover: #ccc;

$color-paragraph: #4a4a4a;

$color-green: #34eb49;

$color-white: #fff;
$color-black: rgb(10, 136, 204);


// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 4rem;




